mat-card {
    padding: 50px;
    text-align: center;
}

.result {
    padding: 15px;
}

.bad {
    color: red;
}

.okay {
    color: rgb(255, 166, 0);
}

.good {
    color: green;
}

mat-list {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}