<div *ngIf="questions">
    <mat-progress-bar mode="determinate" value="{{ progress }}"></mat-progress-bar>
    <mat-card>
        <mat-card-content>
            <h1>{{ currentQuestion['question'] }}</h1>
        </mat-card-content>
    </mat-card>
    <div id="options">
        <div class="heightfix">
            <mat-radio-group #options [(ngModel)]="choice">
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile #options *ngFor="let option of currentQuestion['options']">
                        <mat-radio-button
                        [value]="option">
                            {{ option }}
                        </mat-radio-button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-radio-group>
        </div>
        
        <div>
            <button mat-stroked-button color="primary" [disabled]="!choice" (click)="next()">
                Next
            </button>
        </div>
    </div>
</div>