<app-header></app-header>

<div class="container">
  <div class="creation" *ngIf="!submitted">
    <form [formGroup]="quizForm">
        <mat-form-field>
            <input id="quizName" placeholder="Quiz Name" matInput formControlName="quizName" required>
        </mat-form-field>

          <mat-checkbox id="public" formControlName="public">
            Make public
          </mat-checkbox>

        <div class="questions "formArrayName="questions">
            <mat-card
              *ngFor="let question of formQuestions.controls; let i = index;"
              class="spacer"
              [formGroupName]="i"
              [ngClass]="{ 'invalid': !question.valid && question.touched }">

            <div>
              <mat-form-field>
                <input id="quizName" formControlName="question"
                placeholder="Question #{{i+1}}"
                (keydown)="$event.stopPropagation()"
                matInput>
              </mat-form-field>
            </div>

            <mat-divider></mat-divider>

            <mat-radio-group formControlName="correct" required>
                <mat-radio-button value = 1>
                </mat-radio-button>

                <mat-form-field>
                    <input formControlName="option1" placeholder="Option" matInput required>
                </mat-form-field>

                <mat-radio-button value = 2>
                </mat-radio-button>

                <mat-form-field>
                    <input formControlName="option2" placeholder="Option" matInput required>
                </mat-form-field>

                <br>

                <mat-radio-button value = 3>
                </mat-radio-button>

                <mat-form-field>
                    <input formControlName="option3" placeholder="Option" matInput required>
                </mat-form-field>

                <mat-radio-button value = 4>
                </mat-radio-button>

                <mat-form-field>
                  <input formControlName="option4" placeholder="Option" matInput required>
                </mat-form-field>
            </mat-radio-group>
          </mat-card>
        </div>

        <div class="buttons spacer">
            <button
            color="primary"
            (click)="addQuestion()"
            mat-raised-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">
              add
            </mat-icon>
            Add Question
          </button>

          <br>

          <button
            mat-button
            class="save"
            (click)="onSubmit()"
            [disabled]="formIsValid != 'VALID' || formQuestions.controls.length < 1"
            mat-raised-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" color="secondary">
              save_alt
            </mat-icon>
            Submit
          </button>
        </div>
    </form>
  </div>
  <div *ngIf="submitted">
    <mat-card>
        <mat-card-content>
            Your quiz link is:

            <br>
            {{baseUrl}}
            <br>

            <span>{{quizUrl}}</span>
            <mat-icon
              *ngIf="!copied"
              aria-hidden="false"
              (click)="copyUrl()">
              assignment
            </mat-icon>
            <mat-icon
              *ngIf="copied"
              class="copied"
              aria-hidden="false"
              (click)="copyUrl()">
              assignment_turned_in
            </mat-icon>
        </mat-card-content>
    </mat-card>
  </div>
</div>

<app-footer></app-footer>
