<div class="container"> 
    <div class="creation" *ngIf="!submitted">
        <mat-accordion>
            <form [formGroup]="quizForm">
                <mat-form-field>
                    <input id="quizName" placeholder="Quiz Name" matInput formControlName="quizName" required>
                </mat-form-field>
                <div formArrayName="questions">
                    <mat-expansion-panel *ngFor="let question of formQuestions.controls; let i = index;"
                        [formGroupName]="i"
                        [ngClass]="{'invalid': !question.valid}">

                        <mat-expansion-panel-header>
                            <mat-panel-title>

                                {{i+1}}.{{value(question.controls.question.value)}}
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field>
                            <input formControlName="question" matInput placeholder="Question">
                        </mat-form-field>


                        <mat-divider></mat-divider>
                        <mat-radio-group formControlName="correct" required>
                            <mat-radio-button [value]="value(question.controls.option1.value)" >

                            </mat-radio-button>

                            <mat-form-field>

                                <input formControlName="option1" matInput name="test" placeholder="Option" required>
                            </mat-form-field>

                            <mat-radio-button [value]="value(question.controls.option2.value)">
                            </mat-radio-button>
                            <mat-form-field>

                                <input formControlName="option2" matInput placeholder="Option" required>
                            </mat-form-field>

                            <br>

                            <mat-radio-button [value]="value(question.controls.option3.value)">
                            </mat-radio-button>
                            <mat-form-field>

                                <input formControlName="option3" matInput placeholder="Option" required>
                            </mat-form-field>

                            <mat-radio-button [value]="value(question.controls.option4.value)">
                            </mat-radio-button>
                        </mat-radio-group>
                        <mat-form-field>

                            <input formControlName="option4" matInput placeholder="Option" required>
                        </mat-form-field>
                    </mat-expansion-panel>
                </div>


            </form>

        </mat-accordion>

        <div class="buttons">
            <button mat-stroked-button color="primary" (click)="addQuestion()">
            Add Question
        </button>

        <button mat-stroked-button color="primary" [disabled]="!quizForm.valid || formQuestions.controls.length < 1" (click)="onSubmit()">
            Make Quiz
        </button>
    </div>
    </div>
    <div *ngIf="submitted">
        <mat-card>
            <mat-card-content>
                Your quiz link is: <br>
                localhost:4200/quiz/<span>{{quizUrl}}</span>
            </mat-card-content>
        </mat-card>
    </div>

</div>