<div class="container">
  <div class="main">

    <section class="mat-typography">
      <h1>Quizzy</h1>
      <h2>Easily create and take quizes!</h2>
    </section>
    <div>
      <div class="buttons">
        <a [routerLink]="[ '/create' ]">
          <button mat-stroked-button color="primary">
            Create a Quiz
          </button>
        </a>
        <button mat-stroked-button color="primary">
          Take a Random Quiz
        </button>
        <a href="https://github.com/vbruzzi/quizzy">
          <button mat-stroked-button color="primary">
            View Source Code
          </button>
        </a>

      </div>
    </div>
  </div>
  <app-footer>

  </app-footer>
</div>
