.buttons button {
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.main {
    text-align: center;
}

.buttons {
    margin-top: 20px;
}